<div class="container1">
    <div class="content-slide">
        <div class="content-slide1">
            <a href="">
                <img src="./img/content1.jpeg" class="img-content img-main" alt="Responsive image">
            </a>
        </div>
        <div class="content-slide23">
            <div class="content-slide2">
                <a href="">
                    <img src="./img/content2.jpeg" class="img-content" alt="Responsive image">
                </a>
            </div>
            <div class="content-slide3">
                <a href="">
                    <img src="./img/content3.jpeg" class="img-content" alt="Responsive image">
                </a>
            </div>
        </div>
    </div>
    {{!-- <div class="list-item-content">
        <div class="item">
            <h1>item1</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
        <div class="item">
            <h1>item</h1>
        </div>
    </div> --}}
    <div class="list-item-content">
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 1</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 2</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 3</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 4</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 5</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 6</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 7</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 8</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 9</div>
        </div>
        <div class="col l-3 m-6 c-12">
            <div class="item">Item 10</div>
        </div>
    </div>
</div>
{{!-- Container 2 --}}
<div class="container2">
    <h1>Container2</h1>
</div>
{{!-- container 3 --}}
<div class="container6">
    <div class="container6-title">
        <h4>GỢI Ý HÔM NAY</h4>
    </div>
    <div class="divider"></div>
    <div class="container6-body">
        <div class="mt-4">
            <div class="row">
                {{#each items}}
                <div class="col-sm-6 col-lg-2">
                    <div class="card card-items-item">
                        <a class="name-card" href="/items/{{this.slug}}">
                            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                        </a>
                        <div class="card-body">
                            <a href="/items/{{this.slug}}">
                                <h5 class="card-title">{{this.name}}</h5>
                            </a>
                            <p class="card-text">{{this.description}}.</p>
                            <a href="#" class="btn btn-grid">₫{{this.price}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="btn-show-more">
            <button id="viewMoreButton">Xem Thêm</button>
        </div>
    </div>
</div>

